{% load custom_tags %}
{% get_contacts as my_contact %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        {% for contacts in my_contact %}
        <a class="navbar-brand fw-bold" href="{% url 'medical_diagnostic:home_page' %}">
            <i class="bi bi-heart-pulse me-2"></i>{{ contacts.name }}
        </a>
        {% endfor %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'medical_diagnostic:about_company' %}">О компании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'medical_diagnostic:services_list' %}">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'medical_diagnostic:contact_detail' %}">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:profile' user.pk %}">
                        <i class="bi bi-person-circle me-1"></i>Личный кабинет
                    </a>
                </li>
                {% if user.doctor_profile %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'medical_diagnostic:doctor_appointments' %}">
                        <i class="bi bi-calendar-check me-1"></i>Записи
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">
                        <i class="bi bi-box-arrow-right me-1"></i>Выйти
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">
                        <i class="bi bi-box-arrow-in-right me-1"></i>Войти
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">
                        <i class="bi bi-person-plus me-1"></i>Регистрация
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>